@import 'variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, footer, nav, main {
  padding: 0.5rem 1rem;
}



header {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  h1 {
    font-family: var(--fontHeader);
  }
  
}


nav {

  
  background-color: var(--colorAccent1);

  ul {
    text-align: center;

    li {
      padding: 0.5rem 0 0.5rem 0.5rem;
      list-style: none;

      
      button {
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: var(--colorMainWhite);

      &:hover {
        color: var(--colorAccent2);
        cursor: pointer;
      }
      }
    }

    @media (min-width: 600px) { 
      text-align: left !important;

      li {
        display: inline;
      }
    }
  }

}



footer {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  text-align: center;
}



article {
  margin: auto;
  padding-bottom: 1rem;
  border-radius: 1rem;
  border-color: red;
  border-width: 1rem;

  @media (min-width: 1000px){
    max-width: 80%;
  }

  header {
    border-radius: 1rem 1rem 0 0;

  }

  section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 0.2rem solid var(--colorAccent2);
    border-radius: 0 0 1rem 1rem;

    @media (min-width: 760px){
      flex-flow: row nowrap;
    }

    div {
      padding: 0.5rem;
      p {
        max-width: 80ch;
        padding-bottom: 0.5rem;
      }
        
    }
    .movie-poster {
      display: flex;
      justify-content: center;
      img {
        max-width: 200px;
        max-height: 260;
        border-radius: 0.5rem;
        
      }
    }
  }
}

