@import 'variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  h1 {
    font-family: var(--fontHeader);
  }
  
}

nav {
  background-color: var(--colorAccent1);

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    li {
      list-style: none;
      
      a {
        text-decoration: none;
        color: var(--colorMainWhite);

      &:hover {
        color: var(--colorAccent2);
      }
      }
    }
  }

}


footer {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  text-align: center;
}