@import 'variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, footer, nav {
  padding: 0.5rem 1rem;
}

header {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  h1 {
    font-family: var(--fontHeader);
  }
  
}


nav {

  
  background-color: var(--colorAccent1);

  ul {
    text-align: center;

    li {
      padding: 0.5rem 0 0.5rem 0.5rem;
      list-style: none;

      
      a {
        text-decoration: none;
        color: var(--colorMainWhite);

      &:hover {
        color: var(--colorAccent2);
      }
      }
    }

    @media (min-width: 600px) { 
      text-align: left !important;

      li {
        display: inline;
      }
    }
  }

}

main {
  margin: 1rem;
}

footer {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  text-align: center;
}