@import 'variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, footer, nav, main {
  padding: 0.5rem 1rem;
}

header {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  h1 {
    font-family: var(--fontHeader);
  }
  
}


nav {

  
  background-color: var(--colorAccent1);

  ul {
    text-align: center;

    li {
      padding: 0.5rem 0 0.5rem 0.5rem;
      list-style: none;

      
      button {
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: var(--colorMainWhite);

      &:hover {
        color: var(--colorAccent2);
        cursor: pointer;
      }
      }
    }

    @media (min-width: 600px) { 
      text-align: left !important;

      li {
        display: inline;
      }
    }
  }

}



footer {
  background-color: var(--colorAccent2);
  color: var(--colorMainWhite);
  text-align: center;
}

/* section {
  display: flex;
  flex-flow: row nowrap;
} */


article {
  padding-bottom: 1rem;
  border-radius: 1rem;
  border-color: red;
  border-width: 1rem;

  section {
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: 760px){
      flex-flow: row nowrap;
    }

    p {
      max-width: 80ch;
    }

    img {
      max-width: 200px;
      max-height: 260;
    }
  }
}

